= render "shared/nav"
.row
  .col-lg-12
    /%h1 Headline goes here
.row
  .col-lg-4
  .col-lg-6
    .form-container
      .card
        .well
          .bs-component
            .form-horizontal
              %fieldset
                %h2 Step 2. How can we reach you?
                %br
                = form_for @user do |f|
                  %br
                  = f.submit "Test User"
  .col-lg-2


