.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to "Newfoundland Home finder", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to "Admin", "#"