.row
  .col-lg-12
    .bs-component
      .navbar
        %nav.navbar-default
          .container-fluid
            .navbar-header
              = link_to "Newfoundland Home finder", root_path, class: "navbar-brand"
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to "Admin", "#"